.accordion {
    width: 330px;
    margin-top: 10px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;  
    background-color: var(--divider-color);
}

.accordion-button {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    justify-content: space-between;
    width: 100%;
    height: 35px;
    border: 0px transparent;
    background-color: transparent;
    color: var(--text-primary-color);
    cursor: pointer;
}

.accordion-information {
    display: flex;
    flex-direction: column;
    color: var(--text-primary-color);
    text-align: left;
}

.setting-content .accordion-title {
    font-size: 17px;
    font-weight: 900;
}

.setting-content .accordion-description {
    font-size: 11px;
    color: var(--text-secondary-color);
    font-weight: lighter;
}

.accordion-arrow {
    font-size: 20px;
    color: var(--text-secondary-color);
}

.accordion-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}